* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #111111;
    font-family: "IBM Plex Sans", sans-serif;
}

.sky {
    position: fixed;
    inset: 0;
    cursor: pointer;
}

.sky img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#front {
    opacity: 0;
    transition: opacity 2s ease;
}

.menu {
    position: fixed;
    inset: 0;
    background: #111111;
    backdrop-filter: blur(12px);
    padding: 40px;
    overflow-y: auto;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s ease;
}

.menu.show {
    opacity: 1;
    pointer-events: auto;
}

.menu-header {
    display: flex;
    align-items: center;
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.logo {
    width: 45px;
    height: 45px;
}

#menu p {
    color: #ffffff88;
    font-weight: normal;
    margin-left: 45px;
    margin-bottom: 40px;
    font-style: italic;
}

.menu-close {
    position: absolute;
    top: 40px;
    right: 40px;
    color: white;
    font-size: 45px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns:
        repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

#loadMore{
    color: white;
    line-height: 60px;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}

.thumb {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform .3s ease, opacity .3s ease;
    background: #555;
    animation: thumb-loading 1.2s infinite alternate;
}

.thumb.loaded {
    animation: none;
}

.thumb:hover {
    transform: scale(1.05);
}

@keyframes thumb-loading {
    from {
        background: #555;
    }

    to {
        background: #777;
    }
}

.modal {
    position: fixed;
    inset: 0;
    background: black;
    z-index: 20;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s ease;
}

.modal.show {
    opacity: 1;
    pointer-events: auto;
}

.modal img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.controls {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
}

.controls.show {
    opacity: 1;
    pointer-events: auto;
}

.close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    color: white;
    font-size: 45px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 80px;
    cursor: pointer;
    user-select: none;
}

.left {
    left: 30px;
}

.right {
    right: 30px;
}

@media (max-width: 600px) {
    .menu-header {
        font-size: 24px;
    }
}